<ion-header>
  <ion-toolbar>
    <ion-title>A Receber</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <h1>Novas Contas</h1>
    <ion-label>id:<ion-input [(ngModel)]="novoaReceber.id"></ion-input></ion-label>
   <ion-label>nome:<ion-input [(ngModel)]="novoaReceber.nome"></ion-input></ion-label>
   <ion-label>valor:<ion-input [(ngModel)]="novoaReceber.valor"></ion-input></ion-label>
   <ion-button (click)="inserir()">Inserir</ion-button>
   

  </ion-card>

  <h1>A Receber</h1>
  <ion-list>
    <ion-item *ngFor="let data of aReceber" >
      <ion-label>{{data.id}}</ion-label>
      <ion-label>{{data.nome}}</ion-label>
      <ion-label>{{data.valor}}</ion-label>
      <ion-label>{{data.tag}}</ion-label>
    </ion-item>

  </ion-list>


  
</ion-content>
