<ion-header>
  <ion-toolbar>
    <ion-title>A Receber</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>A Receber</h1>
  <ion-list>
    <ion-item *ngFor="let data of aReceber" >
      <ion-label>{{data.nome}}</ion-label>      
      <ion-label>{{data.descricao}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-card >
    <h1>Novos a Receberes</h1>

  <ion-label>Nome:<ion-input disabled='true' [(ngModel)]="novoaReceber.nome"></ion-input></ion-label>
   <ion-label>Descrição:<ion-input [(ngModel)]="novoaReceber.descricao"></ion-input></ion-label>
   <ion-button (click)="inserir()">Inserir</ion-button>
   

  </ion-card>
</ion-content>
